@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro&display=swap');

/* light 300 open sans */

* {box-sizing: border-box;  }
body {
  margin: 0;
  padding: 0;
  background-color: #f5f7f9;
  font-family: 'Source Sans Pro', sans-serif;
}

.container {
  width: 70%;
  height: 800px;
  display: flex;
  justify-content: center;
  margin: 25px auto;
  color:black;

}

.first-section > .col {
  width: 600px;
  max-height: 620px;
  margin-bottom: 10px;
}

.second-section > .col {
  margin-left: 10px;

}
.col-teacher-info {
  max-height: 450px;
}


.col {
  background-color: white;
  width: 300px;
  font-size: 20px;
  color:black;
  text-decoration: none;
  box-shadow: 0 0 2px rgba(0,0,0,.3);
  border-radius: 10px;
}

.col-teacher-info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 400px;
  color: #969ea9;
}

.col-teacher-info > div {
   word-wrap: break-word;
}

.col-teacher-info > div {
  margin: 15px 20px 1px 20px;

}

div.teacher-img {
  width: 100px;
  height: 100px;
  background-color: rgb(30, 156, 132);
  margin-top: 20px !important;
  box-shadow: 0 0 2px rgba(0,0,0,.3);
  border-radius: 50%;
}

p {
  margin-top: 0;
}

.whois {
  font-size: 1.5em;
  color: #403333;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.whois > span:first-child {
  font-size: .55em;
  color: #969ea9
}

.first-section .col{
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  padding: 0 25px;
  color: #919da9;
}

.title span {
  font-size: 1.2em;
  color: #55687b;
}

.title {
  margin: 10px 0 !important;
  font-weight: bold;
}

.user-png {
  background-color: #eaeaea;
  border-top-right-radius: 0.3rem;
  border-bottom-right-radius: 0.3rem;
}

.description {
  font-family: 'Open Sans', sans-serif;
  padding-bottom: 5px;
}

.first-section > col > div{
  word-wrap: break-word;
}

.pdf span, .pdf a{
  padding: 5px 10px;
  text-decoration: none;
  color: white;
  background-color: rgb(30, 156, 132);
  border-top-left-radius: 0.3rem;
  border-bottom-left-radius: 0.3rem;
  box-shadow: 0 0 2px rgba(0,0,0,.3);
}

.pdf {
  padding: 2.5px 0;
  display: flex;
  flex-direction: row;
}

@media screen and (max-width: 1200px) {
  .container {
    margin-top: 25px;
    width: 70%;
    position: relative;
    top: 0;
    left: 0;
    -ms-transform: translate(0, 0);
    transform: translate(0, 0);

  }

}
