/* @import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap'); */
@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');


body {
  margin: 0;
}

.header {
  background-color: #fff;
  padding: 15px 10px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  box-shadow: 0 1px 1px 0 rgba(0,0,0,.1);
  font-family: Open Sans,sans-serif;
}

.header a{
  color: #0b0b0b;
  padding: 13px 13px;
  text-decoration: none;
  font-size: 16px;
  font-weight: 500;
  letter-spacing: 1px;
  text-transform: uppercase;
  /* cursor: default; */
  padding-top: 6px;
  padding-bottom: 6px;
  margin-left: 20px;
  line-height: 16px;
}

.header a:hover {
  cursor: pointer;
}

.header-center a {
  cursor: default;
}

.header a.logo {
  font-size: 20px;
  font-weight: bold;
  box-shadow: none;
  line-height: 20px;
}

.header div .logo:hover,.header div .logo:focus{
  border-radius: 0 !important;
  box-shadow: 0 !important;
  background-color: none;
  border-bottom: 0;
}

.header a:hover {
  text-decoration: none;

  color: rgb(30, 156, 132);
  /* border-bottom: 3px solid rgb(30, 156, 132); */
  transition: all 0.3s ease;

}


a.rounded {
  background: rgb(30, 156, 132);
  color: white;
  border: 2px solid rgb(30, 156, 132);
  padding: 3px 25px;
  width: 113px;
  border-radius: 100px;
}

.rounded:hover {
  color: white !important;
  background: rgb(35, 121, 104) !important;
  border: 2px solid rgb(35, 121, 104) !important;

  /* box-shadow: 0 0 4px rgba(0,0,0,.3); */
}

a.logout {
  box-shadow: 0 1px 1px 0 rgba(0,0,0,.1);
  padding: 5px 27px;
  width: 113px;

  border-radius: 100px;
}

a.logout:hover {
  border: none;
  color: rgb(35, 121, 104);
  box-shadow: 0 0 0 1px rgb(35, 121, 104);
}

.logo {
  margin-right: 0px;
}

.header-right {
  margin-right: 20px;
}
@media screen and (max-width: 835px) {
  .header a {
    padding: 0 13px;
  }
  .header-right {
    margin-right: 0px;
  }
}
@media screen and (max-width: 795px) {
  .header a {
    float: none;
    font-size: 20px;

    text-transform: none;
    width: 100px;
    margin: 0 auto;
  }
  .header a.logo {
    font-size: 1.5em;
    font-weight: none;
    padding: 0;
  }

  /* a.rounded {
    margin: 0 auto;
    padding: 5px;
  } */
}

@media screen and (max-width: 685px) {
  .header {
    flex-direction: column;
    justify-content: center;
    text-align: center;
  }
  .header a {
    line-height: 40px;
    margin-top: 5px;
    text-transform: none;
  }

  .header a.logo{ line-height: 50px;font-size: 2em;}
  .header-center,.header-right {
    display: flex;
    flex-direction: column;
  }
  .header-right {
    border: none;
  }
  a.rounded {
      color: #0b0b0b;
      background-color: #fff;

  }
}

@media screen and (max-width: 350px) {

  .header a.logo  {
    font-size: 2em;
    /* display: none; */
  }
}
