@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: "Open Sans", serif;
  background-color: #f5f7f9;
}

.profile_page {
  padding: 50px;
  font-size: 20px;
  display: flex;
  align-items: center;
}

.profile_image {
  width: 170px;
  height: 170px;
  border-radius: 50%;
  position: relative;
  overflow: hidden;
}
.profile_image img {
  min-width: 100%;
  min-height: 100%;
  width: auto;
  height: auto;
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.profile_page {
  display: flex;
  flex-direction: column;
}

.profile_info div {
  padding: 5px;
}

.profile_info {
  width: 100%;
  padding: 10px;
}



/*NEW*/
.container {
  height: 90vh;
  display: flex;
  align-items: center;
  justify-content: center;

}

.white_wrapper {
  -webkit-box-shadow: 0px 0px 17px -1px #000000;
  box-shadow: 0px 0px 17px -1px #000000;
  width: 600px;
  height: 550px;
  background: white;
  border-radius: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px;
}

.green_wrapper {
  width: 100%;
  height: 100%;
  border-radius: 25px;
  background-color: #1e9c84;
}