@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@300;400&display=swap');

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background-color: #f5f7f9;
  font-family: 'Comfortaa', cursive;
}

.container {
  display: flex;
  width: 420px;
  height: 470px;
  margin: 25px auto;
  border-radius: 6px;
  border: 1px solid #2e3d5e;
  background-color: #3c5079;
  justify-content: space-between;
  flex-direction: column;
}

.col:first-child {
  height: 470px;
  border-radius: 6px;
  background-color: #3c5079;
  box-shadow: 0 3px 6px rgba(0, 0, 0, .2);
}

.profile {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  height: 400px;
}

.profile-col {
  width: 150px;
  height: 75px;
  margin-bottom: 5px;
}

.profile-col:first-child {
  height: 150px;
  width: 150px;
  border-radius: 50%;
  margin-bottom: 30px;
}

.profile-col:nth-child(2n) {
  width: 300px;
  height: 60px;
  color: white;
  text-align: center;
  font-size: 1.5em;
}

.profile-col:last-child {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 65px;
}

.profile-col:last-child div i{
  font-size: 2em;
  margin: 0 20px;
  color: white;
}

.profile-col:last-child div i:hover {
  cursor: pointer;
  transform: scale(1.1);
  color: rgb(30, 156, 132);
}

.profile-col img {
  border-radius: 50%;
  height: 150px;
  width: 150px;
  border: 2px solid #2e3d5e;

}

.lv-who span{
  font-size: 16px;
  color: #cedcf7;
}

@media screen and (max-width: 680px) {
  .container {
    width: 100%;
  }
}