@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: "Open Sans", sans-serif;
  background-color: #f5f7f9;
}

/* background-color: #f5f7f9;
box-shadow: 0px 0px 2px 0px rgba(0,0,0,0.3);
0.03 rem or 10px
rgb(30, 156, 132) */

.profile_page {
  padding: 50px;
  font-size: 20px;
  border-bottom: 4px solid black;
}

.profile_image {
  width: 170px;
  height: 170px;
  border-radius: 50%;
  position: relative;
  overflow: hidden;
}
.profile_image img {
  min-width: 100%;
  min-height: 100%;
  width: auto;
  height: auto;
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.profile_page {
  display: flex;
  align-items: center;
}

.profile_info div {
  padding: 5px;
}

.profile_info {
  margin-left: 100px;
  padding: 10px;
}

.profile_info div::first-letter {
  text-transform: uppercase;
}