{% extends 'core/header.html' %}
{% block content %}
{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'Shedule/css/shedule.css' %}"/>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

<body>
<div class="schedual">
    <div class="schedual_title">Розклад</div>
    <div class="schedual_block_wrapper">
        <div class="schedual_block">
            <div class="schedual_block_title">
                <div class="schedual_block_title_wrapper">
                    Понеділок
                    <div class="schedual_block_title_undeline"></div>
                </div>
            </div>
            <div class="schedual_block_info">
                <div class="schedual_list">
                    {% for x in schedule_monday%}
                    <div class="schedual_list_item_block">
                        <div class="item_time">{{ x.time }}</div>
                        <div class="schedual_list_items">
                            <div class="schedual_list_item">
                                <div class="item_wrapper">
                                    <div class="item_wrapper_info">
                                        <div class="left-line"></div>
                                        <div class="subject">{{ x.lesson }}</div>
                                    </div>
                                    <div class="additional_info">
                                        <div class="">Викладачі: {% for i in x.lesson.get_lesson_teachers %}
                                            {{ i.get_full_name }}
                                            {% endfor %}
                                        </div>
                                        <div class="">Посилання:<a
                                                href="https://meet.google.com/nbh-gnci-xnm?pli=1&authuser=2">Click!</a>
                                        </div>
                                        <div class="">Дод. інформація: Контрольна робота</div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    {% endfor %}
                </div>
            </div>
        </div>
        <div class="schedual_block">
            <div class="schedual_block_title">
                <div class="schedual_block_title_wrapper">
                    Вівторок
                    <div
                            class="schedual_block_title_undeline undeline_color_purplemountain"
                    ></div>
                </div>
            </div>
            <div class="schedual_block_info">
                <div class="schedual_list">
                    {% for x in schedule_tuesday%}
                    <div class="schedual_list_item_block">
                        <div class="item_time">{{ x.time }}</div>
                        <div class="schedual_list_items">
                            <div class="schedual_list_item">
                                <div class="item_wrapper">
                                    <div class="item_wrapper_info">
                                        <div class="left-line"></div>
                                        <div class="subject">{{ x.lesson }}</div>
                                    </div>
                                    <div class="additional_info">
                                        <div class="">Викладачі: {% for i in x.lesson.get_lesson_teachers %}
                                            {{ i.get_full_name }}
                                            {% endfor %}
                                        </div>
                                        <div class="">Посилання: {{link}}</div>
                                        <div class="">Дод. інформація: {{additional_info}}</div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    {% endfor %}
                </div>
            </div>
        </div>
        <div class="schedual_block">
            <div class="schedual_block_title">
                <div class="schedual_block_title_wrapper">
                    Середа
                    <div
                            class="schedual_block_title_undeline undeline_color_summertime"
                    ></div>
                </div>
            </div>
            <div class="schedual_block_info">
                <div class="schedual_list">
                    {% for x in schedule_wednesday%}
                    <div class="schedual_list_item_block">
                        <div class="item_time">{{ x.time }}</div>
                        <div class="schedual_list_items">
                            <div class="schedual_list_item">
                                <div class="item_wrapper">
                                    <div class="item_wrapper_info">
                                        <div class="left-line"></div>
                                        <div class="subject">{{ x.lesson }}</div>
                                    </div>
                                    <div class="additional_info">
                                        <div class="">Викладачі: {% for i in x.lesson.get_lesson_teachers %}
                                            {{ i.get_full_name }}
                                            {% endfor %}
                                        </div>
                                        <div class="">Посилання: {{link}}</div>
                                        <div class="">Дод. інформація: {{additional_info}}</div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    {% endfor %}
                </div>
            </div>

        </div>
        <div class="schedual_block">
            <div class="schedual_block_title">
                <div class="schedual_block_title_wrapper">
                    Четвер
                    <div
                            class="schedual_block_title_undeline undeline_color_squeky"
                    ></div>
                </div>
            </div>
            <div class="schedual_block_info">
                <div class="schedual_list">
                    {% for x in schedule_thursday%}
                    <div class="schedual_list_item_block">
                        <div class="item_time">{{ x.time }}</div>
                        <div class="schedual_list_items">
                            <div class="schedual_list_item">
                                <div class="item_wrapper">
                                    <div class="item_wrapper_info">
                                        <div class="left-line"></div>
                                        <div class="subject">{{ x.lesson }}</div>
                                    </div>
                                    <div class="additional_info">
                                        <div class="">Викладачі: {% for i in x.lesson.get_lesson_teachers %}
                                            {{ i.get_full_name }}
                                            {% endfor %}
                                        </div>
                                        <div class="">Посилання: {{link}}</div>
                                        <div class="">Дод. інформація: {{additional_info}}</div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    {% endfor %}
                </div>
            </div>
        </div>
        <div class="schedual_block">
            <div class="schedual_block_title">
                <div class="schedual_block_title_wrapper">
                    П'ятниця
                    <div
                            class="schedual_block_title_undeline undeline_color_tigerlily"
                    ></div>
                </div>
            </div>
            <div class="schedual_block_info">
                <div class="schedual_list">
                    {% for x in schedule_friday%}
                    <div class="schedual_list_item_block">
                        <div class="item_time">{{ x.time }}</div>
                        <div class="schedual_list_items">
                            <div class="schedual_list_item">
                                <div class="item_wrapper">
                                    <div class="item_wrapper_info">
                                        <div class="left-line"></div>
                                        <div class="subject">{{ x.lesson }}</div>
                                    </div>
                                    <div class="additional_info">
                                        <div class="">Викладачі: {% for i in x.lesson.get_lesson_teachers %}
                                            {{ i.get_full_name }}
                                            {% endfor %}
                                        </div>
                                        <div class="">Посилання: {{link}}</div>
                                        <div class="">Дод. інформація: {{additional_info}}</div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
</div>
</body>

<script>
    $(document).ready(() => {
        $('.additional_info').hide();
        $(".item_wrapper").click(function () {
            var index = $(".item_wrapper").index(this);
            $('.additional_info').eq(index).slideToggle();
        });
    })
</script>

{% endblock content %}
