{% extends 'core/header.html' %}
{% block content %}
{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'Shedule/css/shedule.css' %}"/>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

<body>
<div class="schedual">
    <div class="schedual_title">
        <div class="schedule_title_block">Розклад</div>
        <div class="group_info">
            <div class="first group_block select-1">
                <div class="left-line" style='background-color: aquamarine;'></div>
                1 підгрупа
            </div>
            <div class="second group_block select-2">
                <div class="left-line" style='background-color: darkmagenta;'></div>
                2 підгрупа
            </div>
            <div class="both group_block select-3">
                <div class="left-line" style='background-color: black;'></div>
                Обидві
            </div>
        </div>
    </div>
    <div class="schedual_block_wrapper">
        <div class="schedual_block">
            <div class="schedual_block_title">
                <div class="schedual_block_title_wrapper">
                    Понеділок
                    <div class="schedual_block_title_undeline"></div>
                </div>
            </div>
            <div class="schedual_block_info">
                <div class="schedual_list">
                    {% for x in schedule_monday%}
                    <div class="schedual_list_item_block">
                        <div class="item_time">{{ x.time }}</div>
                        <div class="schedual_list_items">
                            <div class="schedual_list_item">
                                <div class="item_wrapper">
                                    <div class="item_wrapper_info">
                                        {% if x.subgroup == 'First'%}
                                        <div class="left-line" style='background-color: aquamarine;' data-group=1></div>
                                        {% endif %}
                                        {% if x.subgroup == 'Second'%}
                                        <div class="left-line" style='background-color: darkmagenta;'
                                             data-group=2></div>
                                        {% endif %}
                                        {% if x.subgroup == 'Both'%}
                                        <div class="left-line" style='background-color: black;' data-group=3></div>
                                        {% endif %}
                                        <div class="subject">{{ x.lesson }}</div>
                                    </div>
                                    <div class="additional_info">
                                        <div class="">Викладачі: {% for i in x.lesson.get_lesson_teachers %}
                                            {{ i.get_full_name }}
                                            {% endfor %}
                                        </div>
                                        <div class="link">Посилання:<a
                                                href="https://meet.google.com/nbh-gnci-xnm?pli=1&authuser=2">перейти</a>
                                        </div>
                                        <div class="">Дод. інформація: Контрольна робота</div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    {% endfor %}
                </div>
            </div>
        </div>
        <div class="schedual_block">
            <div class="schedual_block_title">
                <div class="schedual_block_title_wrapper">
                    Вівторок
                    <div
                            class="schedual_block_title_undeline undeline_color_purplemountain"
                    ></div>
                </div>
            </div>
            <div class="schedual_block_info">
                <div class="schedual_list">
                    {% for x in schedule_tuesday%}
                    <div class="schedual_list_item_block">
                        <div class="item_time">{{ x.time }}</div>
                        <div class="schedual_list_items">
                            <div class="schedual_list_item">
                                <div class="item_wrapper">
                                    <div class="item_wrapper_info">
                                        {% if x.subgroup == 'First'%}
                                        <div class="left-line" style='background-color: aquamarine;' data-group=1></div>
                                        {% endif %}
                                        {% if x.subgroup == 'Second'%}
                                        <div class="left-line" style='background-color: darkmagenta;'
                                             data-group=2></div>
                                        {% endif %}
                                        {% if x.subgroup == 'Both'%}
                                        <div class="left-line" style='background-color: black;' data-group=3></div>
                                        {% endif %}
                                        <div class="subject">{{ x.lesson }}</div>
                                    </div>
                                    <div class="additional_info">
                                        <div class="">Викладачі: {% for i in x.lesson.get_lesson_teachers %}
                                            {{ i.get_full_name }}
                                            {% endfor %}
                                        </div>
                                        <div class="link">Посилання: {{link}}</div>
                                        <div class="">Дод. інформація: {{additional_info}}</div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    {% endfor %}
                </div>
            </div>
        </div>
        <div class="schedual_block">
            <div class="schedual_block_title">
                <div class="schedual_block_title_wrapper">
                    Середа
                    <div
                            class="schedual_block_title_undeline undeline_color_summertime"
                    ></div>
                </div>
            </div>
            <div class="schedual_block_info">
                <div class="schedual_list">
                    {% for x in schedule_wednesday%}
                    <div class="schedual_list_item_block">
                        <div class="item_time">{{ x.time }}</div>
                        <div class="schedual_list_items">
                            <div class="schedual_list_item">
                                <div class="item_wrapper">
                                    <div class="item_wrapper_info">
                                        {% if x.subgroup == 'First'%}
                                        <div class="left-line" style='background-color: aquamarine;' data-group=1></div>
                                        {% endif %}
                                        {% if x.subgroup == 'Second'%}
                                        <div class="left-line" style='background-color: darkmagenta;'
                                             data-group=2></div>
                                        {% endif %}
                                        {% if x.subgroup == 'Both'%}
                                        <div class="left-line" style='background-color: black;' data-group=3></div>
                                        {% endif %}
                                        <div class="subject">{{ x.lesson }}</div>
                                    </div>
                                    <div class="additional_info">
                                        <div class="">Викладачі: {% for i in x.lesson.get_lesson_teachers %}
                                            {{ i.get_full_name }}
                                            {% endfor %}
                                        </div>
                                        <div class="link">Посилання: {{link}}</div>
                                        <div class="">Дод. інформація: {{additional_info}}</div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    {% endfor %}
                </div>
            </div>

        </div>
        <div class="schedual_block">
            <div class="schedual_block_title">
                <div class="schedual_block_title_wrapper">
                    Четвер
                    <div
                            class="schedual_block_title_undeline undeline_color_squeky"
                    ></div>
                </div>
            </div>
            <div class="schedual_block_info">
                <div class="schedual_list">
                    {% for x in schedule_thursday%}
                    <div class="schedual_list_item_block">
                        <div class="item_time">{{ x.time }}</div>
                        <div class="schedual_list_items">
                            <div class="schedual_list_item">
                                <div class="item_wrapper">
                                    <div class="item_wrapper_info">
                                        {% if x.subgroup == 'First'%}
                                        <div class="left-line" style='background-color: aquamarine;' data-group=1></div>
                                        {% endif %}
                                        {% if x.subgroup == 'Second'%}
                                        <div class="left-line" style='background-color: darkmagenta;'
                                             data-group=2></div>
                                        {% endif %}
                                        {% if x.subgroup == 'Both'%}
                                        <div class="left-line" style='background-color: black;' data-group=3></div>
                                        {% endif %}
                                        <div class="subject">{{ x.lesson }}</div>
                                    </div>
                                    <div class="additional_info">
                                        <div class="">Викладачі: {% for i in x.lesson.get_lesson_teachers %}
                                            {{ i.get_full_name }}
                                            {% endfor %}
                                        </div>
                                        <div class="link">Посилання: {{link}}</div>
                                        <div class="">Дод. інформація: {{additional_info}}</div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    {% endfor %}
                </div>
            </div>
        </div>
        <div class="schedual_block">
            <div class="schedual_block_title">
                <div class="schedual_block_title_wrapper">
                    П'ятниця
                    <div
                            class="schedual_block_title_undeline undeline_color_tigerlily"
                    ></div>
                </div>
            </div>
            <div class="schedual_block_info">
                <div class="schedual_list">
                    {% for x in schedule_friday%}
                    <div class="schedual_list_item_block">
                        <div class="item_time">{{ x.time }}</div>
                        <div class="schedual_list_items">
                            <div class="schedual_list_item">
                                <div class="item_wrapper">
                                    <div class="item_wrapper_info">
                                        {% if x.subgroup == 'First'%}
                                        <div class="left-line" style='background-color: aquamarine;' data-group=1></div>
                                        {% endif %}
                                        {% if x.subgroup == 'Second'%}
                                        <div class="left-line" style='background-color: darkmagenta;'
                                             data-group=2></div>
                                        {% endif %}
                                        {% if x.subgroup == 'Both'%}
                                        <div class="left-line" style='background-color: black;' data-group=3></div>
                                        {% endif %}
                                        <div class="subject">{{ x.lesson }}</div>
                                    </div>
                                    <div class="additional_info">
                                        <div class="">Викладачі: {% for i in x.lesson.get_lesson_teachers %}
                                            {{ i.get_full_name }}
                                            {% endfor %}
                                        </div>
                                        <div class="link">Посилання: {{link}}</div>
                                        <div class="">Дод. інформація: {{additional_info}}</div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
</div>
</body>

<script>
    document.title = 'Розклад';
    $(document).ready(() => {
        $('.additional_info').hide();
        $(".item_wrapper").click(function () {
            var index = $(".item_wrapper").index(this);
            $('.additional_info').eq(index).slideToggle();
        });

        $('.item_wrapper_info')
            .mouseover((e) => {
                let group_id = e.currentTarget.children[0].dataset.group;
                let bg = $(`.select-${group_id}`).css('border-color');
                bg = bg.slice(0,3) + 'a' + bg.slice(3, -1) + ', 0.4)'
                console.log(bg)
                $(`.select-${group_id}`).css('background-color', `${bg}`).addClass("up");
                console.log()
                $(`.select-${group_id}`).removeClass("down");

            })
            .mouseout((e) => {
                let group_id = e.currentTarget.children[0].dataset.group;
                const bg = $(`.select-${group_id}`).css('border-color')
                $(`.select-${group_id}`).css('background-color', `transparent`).addClass("down");
                $(`.select-${group_id}`).addClass("down");
                $(`.select-${group_id}`).removeClass("up");
            })
    })
</script>

{% endblock content %}
