{% extends 'core/header.html' %}
{% block content %}
{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'GradeBook/css/diary.css' %}"/>
<body>
<div class="main_page">
    <div class="diary">
        <!--
        <div class="dropdown_menu_diary">
            <div class="choose_group">Виберіть свою групу</div>
            <div class="dropdown">
                 <button class="dropbtn">Групи</button>
                <div class="dropdown-content group_content">
                    <a href="#215">КН-215</a>
                    <a href="#214">КН-214</a>
                    <a href="#213">КН-213</a>
                    <a href="#212">КН-212</a>
                </div>
            </div>
            <div class="dropdown">
                <button class="dropbtn group_name">Предмети</button>
                <div class="dropdown-content">
                    <a href="#">ОС</a>
                    <a href="#">ПП</a>
                    <a href="#">ТЙ</a>
                    <a href="#">ТІ</a>
                </div>
            </div>
        </div>
-->
        <div class="table-fixed-column-outter">
            <div class="table-fixed-column-inner">
                <table class="table-fixed-column table-fixed-column table table-bordered table-striped">
                    <thead>
                    <tr id="my_head">
                        <th class="students">Студенти</th>
                    </tr>

                    </thead>
                    <tbody id="my_body">
                    <tr>
<!--                        <td>ім'я користувача</td>-->
                        <td></td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
<script>
    const data = {{ raw_data | safe }}

    function add_to_head(text) {
        var th = document.createElement("th");
        var text = document.createTextNode(text);
        th.appendChild(text);
        document.getElementById("my_head").appendChild(th);
    }

    function date_to_set(data) {
        let filtered_data = data.map(el => el.filter(e => {
            return e['grades'].length > 0
        }));
        return filtered_data;
    }

    function all_dates(data) {
        let dates = data.map(el => el.map(e => e['date']))
        return dates;
    }

    let merged = [...new Set([].concat.apply([], all_dates(date_to_set(data))))];

    function create_head() {
        for (let i = 0; i < merged.length; i++) {
            add_to_head(merged[i])
        }
    }
    create_head();
    let student_grades = date_to_set(data);

    console.log(student_grades.reverse())

    const filteredArr = student_grades.reverse().map(el => el.reverse().reduce((acc, current) => {
        const x = acc.find(item => item.date === current.date);
        if (!x) {
            return acc.concat([current]);
        } else {
            return acc;
        }
    }, []));

    // console.log(filteredArr)
    let final_arr_with_names = []
    for(let i = 0; i < filteredArr.length; i++) {
        final_arr_with_names.push([])
        for(let j = 0; j < filteredArr[i].length; j++) {
            final_arr_with_names[i][merged.indexOf(filteredArr[i][j]['date'])] = filteredArr[i][j];
        }
    }
   console.log(final_arr_with_names)

    function add_to_body(text, arr=[]) {
        let tr = document.createElement("tr");
        let td = document.createElement("td");
        td.appendChild(document.createTextNode(text))
        tr.appendChild(td);
        for(let i = 0; i < merged.length; i++) {
            let td_t = document.createElement("td");
            if(arr[i] != undefined) {
                td_t.appendChild(document.createTextNode(arr[i].grades))
            } else {
                td_t.appendChild(document.createTextNode(''))
            }
            tr.appendChild(td_t);
        }
        document.getElementById("my_body").appendChild(tr);
    }
    for(let i = 0; i < final_arr_with_names.length; i++) {
        let name = final_arr_with_names[i].filter(el => el != null);
        add_to_body(name[0]['student'], final_arr_with_names[i])
    }



    document.querySelectorAll('.dropdown-content > a').forEach(item => {
        item.addEventListener('click', e => {
            if (document.querySelector('.dropdown-content a.active') !== null) {
                document.querySelector('.dropdown-content a.active').classList.remove('active');
            }
            if (e.target.parentElement.className.split(' ')[1] === 'group_content') {
                document.querySelectorAll('.dropbtn')[0].innerText = e.target.innerHTML;
            } else {
                document.querySelectorAll('.dropbtn')[1].innerText = e.target.innerHTML;
            }
            // document.querySelectorAll('group_number').innerText = e.target.innerHTML;
            // document.querySelector(' .header-usr').innerText = e.target.innerHTML;
            // console.log(e)
            e.target.className = "active";
        })
    })
</script>
</body>
{% endblock content %}
