{% extends 'core/header.html' %}
{% block content %}
{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'GradeBook/css/diary_hub.css' %}"/>
<body>
<div class="container">
    <div class="subject_list">
        <div class="tab">
            <button class="tablinks" onclick="openCity(event, 'London')" id="defaultOpen">Предмет 1</button>
            <button class="tablinks" onclick="openCity(event, 'Paris')">Предмет 2</button>
            <button class="tablinks" onclick="openCity(event, 'Tokyo')">Предмет 3</button>
        </div>

        <div id="London" class="tabcontent">
            <span>Предмет 1</span>
            <div class="list_of_groups">
                <div class="group_item">КН-215</div>
                <div class="group_item">КН-214</div>
                <div class="group_item">КН-213</div>
                <div class="group_item">КН-212</div>
                <div class="group_item">КН-212</div>
                <div class="group_item">КН-214</div>
                <div class="group_item">КН-213</div>
                <div class="group_item">КН-212</div>
                <div class="group_item">КН-212</div>
            </div>
        </div>

        <div id="Paris" class="tabcontent">
            <span>Предмет 2</span>
            <div class="list_of_groups">
                <div class="group_item">КН-215</div>
                <div class="group_item">КН-214</div>
                <div class="group_item">КН-213</div>
                <div class="group_item">КН-212</div>
                <div class="group_item">КН-212</div>
                <div class="group_item">КН-214</div>
                <div class="group_item">КН-213</div>
                <div class="group_item">КН-212</div>
                <div class="group_item">КН-212</div>
            </div>
        </div>

        <div id="Tokyo" class="tabcontent">
            <span>Предмет 3</span>
            <div class="list_of_groups">
                <div class="group_item">КН-215</div>
                <div class="group_item">КН-214</div>
                <div class="group_item">КН-213</div>
                <div class="group_item">КН-212</div>
                <div class="group_item">КН-212</div>
                <div class="group_item">КН-214</div>
                <div class="group_item">КН-213</div>
                <div class="group_item">КН-212</div>
                <div class="group_item">КН-212</div>
            </div>
        </div>
    </div>
</div>
<script>
    function openCity(evt, cityName) {
        var i, tabcontent, tablinks;
        tabcontent = document.getElementsByClassName("tabcontent");
        for (i = 0; i < tabcontent.length; i++) {
            tabcontent[i].style.display = "none";
        }
        tablinks = document.getElementsByClassName("tablinks");
        for (i = 0; i < tablinks.length; i++) {
            tablinks[i].className = tablinks[i].className.replace(" active", "");
        }
        document.getElementById(cityName).style.display = "block";
        evt.currentTarget.className += " active";
    }

    // Get the element with id="defaultOpen" and click on it
    document.getElementById("defaultOpen").click();
</script>
</body>
{% endblock content %}
