{% extends 'core/header.html' %}
{% block content %}
{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'GradeBook/css/diary.css' %}"/>
<body>
<div class="main_page">
    <div class="diary">
        <!--
        <div class="dropdown_menu_diary">
            <div class="choose_group">Виберіть свою групу</div>
            <div class="dropdown">
                 <button class="dropbtn">Групи</button>
                <div class="dropdown-content group_content">
                    <a href="#215">КН-215</a>
                    <a href="#214">КН-214</a>
                    <a href="#213">КН-213</a>
                    <a href="#212">КН-212</a>
                </div>
            </div>
            <div class="dropdown">
                <button class="dropbtn group_name">Предмети</button>
                <div class="dropdown-content">
                    <a href="#">ОС</a>
                    <a href="#">ПП</a>
                    <a href="#">ТЙ</a>
                    <a href="#">ТІ</a>
                </div>
            </div>
        </div>
-->
        <div class="table-fixed-column-outter">
            <div class="table-fixed-column-inner">
                <table class="table-fixed-column table-fixed-column table table-bordered table-striped">
                    <thead>
                    <tr>
                        <th class="students">Студенти</th>
                        {% for date in get_columns %}
                        <th>{{date.date}}</th>
                        {% endfor %}
                    </tr>
                    </thead>
                    <tbody>
                    {% for colum in get_check %}
                    <tr>
                        <td>User.name</td>
                        {% for grade in colum %}
                        <td>{{grade.value}}</td>
                        {% endfor %}
                    </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
<script>
    // let button = document.querySelectorAll("a");
    document.querySelectorAll('.dropdown-content > a').forEach(item => {
        item.addEventListener('click', e => {
            if (document.querySelector('.dropdown-content a.active') !== null) {
                document.querySelector('.dropdown-content a.active').classList.remove('active');
            }
            if (e.target.parentElement.className.split(' ')[1] === 'group_content') {
                document.querySelectorAll('.dropbtn')[0].innerText = e.target.innerHTML;
            } else {
                document.querySelectorAll('.dropbtn')[1].innerText = e.target.innerHTML;
            }
            // document.querySelectorAll('group_number').innerText = e.target.innerHTML;
            // document.querySelector(' .header-usr').innerText = e.target.innerHTML;
            // console.log(e)
            e.target.className = "active";
        })
    })
</script>
</body>
{% endblock content %}
