{% extends 'core/header.html' %}
{% block content %}
{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'GradeBook/css/diary.css' %}"/>
<body>
        {% for j in grades %}
<div class="table-fixed-column-outter">
    <div class="table-fixed-column-inner">
        <h1 class="student_diary_title">
            <div class="line-title"></div>
            Предмет: {{j.lesson}}
        </h1>
        <table class="table-fixed-column table-fixed-column table table-bordered table-striped">
            <thead>
            <tr>
                <td>ДАТА</td>
                {%for k in j.grades %}
                <td>{{k.date.date}}</td>
                {% endfor%}
            </tr>
            </thead>
            <tbody>
            <tr>
                <td>ОЦІНКА</td>
                {%for k in j.grades %}
                <td>{{k.value}}</td>
                {% endfor%}
            </tr>
            </tbody>
        </table>
    </div>
</div>
        {% endfor %}
<script>
    document.title = 'Оцінки'
</script>
</body>
{% endblock content %}



