{% extends 'core/header.html' %}
{% block content %}
{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'GradeBook/css/diary.css' %}"/>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

<body>
{% for j in grades %}

<div class="table-fixed-column-outter">
    <div class="table-fixed-column-inner">
        <h1 class="student_diary_title accordion">
            <div class="line-title"></div>
            Предмет: {{j.lesson}}
        </h1>
        <table class="table-fixed-column table-fixed-column table table-bordered table-striped panel">
            <thead>
            <tr>
                <td>ДАТА</td>
                {%for k in j.grades %}
                <td>{{k.date.date}}</td>
                {% endfor%}
            </tr>
            </thead>
            <tbody>
            <tr>
                <td>ОЦІНКА</td>
                {%for k in j.grades %}
                <td>{{k.value}}</td>
                {% endfor%}
            </tr>
            </tbody>
        </table>
    </div>
</div>
{% endfor %}
<script>
    document.title = 'Оцінки'
    let acc = document.getElementsByClassName("accordion");
    let i;

    for (i = 0; i < acc.length; i++) {
        acc[i].addEventListener("click", function () {
            this.classList.toggle("active");
            let panel = this.nextElementSibling;
            if (panel.style.display === "block") {
                panel.style.display = "none";
            } else {
                panel.style.display = "block";
            }
        });
    }
</script>
</body>
{% endblock content %}



