{% extends 'core/header.html' %}
{% block content %}
{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'StudentLessons/css/classes.css' %}" />

<body>
  <script src="https://kit.fontawesome.com/f9bf105099.js" crossorigin="anonymous"></script>

  <body>
    <div class="main-container">
      <div class="subjet-title"><span>Предмети</span></div>

      <div class="container">
        {% for lesson in get_lesson %}
        <a href="lesson/{{ lesson.id }}" class="col">
          <div class="inner-information"><span>{{ lesson }}</span></div>
        </a>
        {% endfor %}
      </div>

      <div class="subjet-title">
        <div>
          <span>Дедлайни</span>
        </div>
      </div>
      <div class="deadline-container">
        <table class="content-table">
          <thead>
            <tr>
              <th>Назва предмата</th>
              <th>Назва задачі</th>
              <th>Дедлайн</th>
              <th>Група</th>
              <th colspan="2" id="myBtn">Додати дедлайн</th>
            </tr>
          </thead>
          <tbody>
<!--            <tr class="add-deadline">-->
<!--              <td colspan="6" id="myBtn">Додати дедлайн</td>-->
<!--            </tr>-->

            {% for x in get_deadlines %}
            <tr>
              <td>{{ x.student_group_lesson.lesson.name }}</td>
              <td>{{ x.name }}</td>
              <td>{{ x.deadline_time }}</td>
              <td>{{ x.student_group_lesson.student_group.name }}</td>
              <td class="delete"><a href="{% url 'DeleteDeadline' x.id %}">Delete</a></td>
              <td class="edit"><a href="{% url 'EditDeadline' x.id %}">Edit</a></td>
            </tr>
            {% endfor %}
          </tbody>
        </table>
      </div>
    </div>
    <div id="myModal" class="modal">
      <div class="modal-content">
        <span class="close">&times;</span>

        <div class="modal-body">
          <form enctype="multipart/form-data" action="" method="post">
            {% csrf_token %}
            <div class="subject-title">
              <label for="id_name">Name:</label>
              <input type="text" name="name" maxlength="20" required id="id_name" placeholder="Name">
            </div>
            <div class="deadline-time">
              <label for="id_deadline_time">Deadline time:</label>
              <input type="date" name="deadline_time" required id="id_deadline_time">
            </div>
            <div class="lesson-check">
              <label for="id_lesson">Lesson:</label>
              <select name="lesson" required id="id_lesson">
                <option disabled>Виберіть предмет</option>
                {% for lesson in get_lesson %}
                <option value="{{ lesson.id }}">{{ lesson }}</option>
                {% endfor %}
              </select>
            </div>
            <div class="group-check">
              <label for="id_group">Group:</label>
              <select name="group" required id="id_group">
                <option disabled>Виберіть групу</option>
                {% for group in get_group %}
                <option value="{{ group.id }}">{{ group.student_group.name }}</option>
                {% endfor %}
              </select>
            </div>
            <div class="modal-add">
              <button type="submit" name="button">Add</button>
            </div>
          </form>
        </div>
      </div>
    </div>
    <script>
      var modal = document.getElementById("myModal");

      var btn = document.getElementById("myBtn");

      var span = document.getElementsByClassName("close")[0];

      btn.onclick = function() {
        modal.style.display = "block";
      }

      span.onclick = function() {
        modal.style.display = "none";
      }

      window.onclick = function(event) {
        if (event.target === modal) {
          modal.style.display = "none";
        }
      }

    </script>
  </body>
  {% endblock content %}
