{% extends 'core/header.html' %}
{% block content %}
{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'TeacherLessons/css/class.css' %}"/>

<body>

<div class="container">
    <div class="first-section">

        {% for i in get_chapter %}
        <div class="col">
            <div class="title">
                <span>{{ i.name }}</span>
            </div>
            <div class="description">
                <span>{{ i.description }}</span>
            </div>
            <div class="title pdf">
                <a href="{{ i.document.url }}" download>{{ i.document.name }}</a>
                <img src="../../media/page/pdf.svg" alt="" class="user-png">
            </div>
            <div class="inner-information">
                <a href="{% url 'DeleteChapter' i.id %}">Видалити</a>
                <a href="editchapter/{{ i.id }}">
                    <span>Редактувати</span>
                </a>
            </div>
        </div>
        {% endfor %}

    </div>
    <div class="second-section">
        <div class="col col-teacher-info">
            <div class="teacher-info"><p>{{ get_lesson.description }}</p></div>
            <div class="whois">
                <span>Групи:</span>
                {% for i in get_group %}
                <span>{{ i }}</span>
                {% endfor %}
            </div>
        </div>
        <div class="col col-teacher-info add-new-chapter">
            <!--            <span id="myBtn">Додати </span>-->
            <span class="collapsible">Додати</span>
            <div class="content">
                <form enctype="multipart/form-data" action="" method="post">
                    {% csrf_token %}
                    {{ form.as_p }}
                    <div class="modal-footer">
                        <button type="submit" name="button">Add</button>
                    </div>
                </form>
            </div>
        </div>

    </div>

</div>
<script>
    var coll = document.getElementsByClassName("collapsible");
    var i;

    for (i = 0; i < coll.length; i++) {
        coll[i].addEventListener("click", function() {
            this.classList.toggle("active");
            var content = this.nextElementSibling;
            if (content.style.maxHeight){
                content.style.maxHeight = null;

            } else {
                content.style.maxHeight = content.scrollHeight + "px";
            }
        });
    }

</script>
</body>
{% endblock content %}
