<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Сторінка профілю</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<body>
<h1>Сторінка профілю!</h1>
<div class = "alert alert-warning">
<p>Студент:</p>
    <p> img : <img src="{{ get_user.profile.img.url }}"></p>
<p>id: {{ get_user.id}}</p>
<p>ім'я: {{ get_user.first_name }} {{ get_user.last_name }}</p>
<p>група: {{ get_user.profile.student_group }}</p>
<p>емейл: {{ get_user.email }}</p>
<p>номер телефону: {{ get_user.profile.numberphone }}</p>
<br>
</div>
</body>
</html>