{% extends 'core/header.html' %}
{% block content %}
{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'StudentLessons/css/classes.css' %}"/>
<body>
<div class="main-container">
  <div class="subjet-title"><span>Предмети</span></div>
    <div class="container">
        {% for lesson in get_lesson %}
        <a href="lesson/{{ lesson.get_lesson.id }}" class="col">
            <div class="inner-information"><span>{{ lesson.get_lesson }}</span><span>Teacher</span></div>
        </a>
        {% endfor %}
    </div>
    <div class="subjet-title"><span>Дедлайни</span></div>

    <div class="deadline-container">
        <table class="content-table">
            <thead>
            <tr>
                <th>Назва предмату</th>
                <th>Назва задачі</th>
                <th>Дедлайн</th>
                <th>Додатковий опис</th>
            </tr>
            </thead>
            <tbody>
            {% for x in get_deadlines %}
            <tr>

                <td>{{ x.student_group_lesson.lesson }}</td>
                <td>{{ x.name }}</td>
                <td>{{ x.deadline_time }}</td>
                <td>--</td>
            </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
</div>

</body>
{% endblock content %}
