/* COMMON MODAL*/
.my-modal-backdrop {
    position: fixed;
    height: 100vh;
    width: 100vw;
    top: 0;
    left: 0;
    background-color: rgba(0,0,0,.6);
    z-index: 999;
}

.my-modal-content-wrapper {
    position: fixed;
    max-width: 70vw;
    height: 200px;
    background-color: #f5f7f9;
    margin: auto;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    padding: 25px 30px 40px;
    border-radius: 7px;
    z-index: 1000;
}

.my-modal-content {
  display: flex;
  justify-content: space-between;
}

.popup-container {
  display: flex;
  flex-direction: column;
  font-size: 18px;
  width: 40%;
  text-align: left;
}

.creation_date_expand {
  /* background-color: #ccc; */
  font-size: 15px;
  width: 90%;
  word-wrap: break-word;
}

.name_expand {
  font-size: 35px;
  width: 90%;
  word-wrap: break-word;
  margin-bottom: 10px;
}

.description_expand {
  width: 90%;
  font-size: 15px;
  letter-spacing: 0.5px;
  word-wrap: break-word;
}



.img-new-container {
  width: 60%;
}

.img-new-container img{
  width: 100%;
}


/* BIG MODAL */



/* SMALL MODAL */

.small-modal {
    max-width: 50vw;
    height: 300px;
}
