<!doctype html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" type="text/css" href="{% static 'css/header.css' %}"/>
    <title>Document</title>
</head>
<body>

<div class="header">
    <div>
        {% url 'core' as url_news_page %}
        <a href="{{ url_news_page }}" class="logo">OpenEdu</a>
    </div>
    <div class="header-center">
        {% url 'lessons' as url_lessons_page %}
        {% url 'lessonst' as url_lessonst_page %}
        <!--Choose menu option according to account_permission -->
        {% if request.user.profile.account_permission == 'Student' %}
        <a href="{{ url_lessons_page }}"> Предмети</a>
        {% elif request.user.profile.account_permission == 'Teacher' %}
        <a href="{{ url_lessonst_page }}"> Предмети</a>
        {% elif request.user.profile.account_permission == 'Admin' %}
        <a href="{{ url_lessonst_page }}"> Предмети</a>
        {% endif %}

        {% url 'schedule' as url_schedule_page %}
        {% url 'schedulet' as url_schedulet_page %}
         <!--Choose menu option according to account_permission -->
        {% if request.user.profile.account_permission == 'Student' %}
        <a href="{{ url_schedule_page }}">Розклад</a>
        {% elif request.user.profile.account_permission == 'Teacher' %}
        <a href="{{ url_schedulet_page }}">Розклад</a>
        {% elif request.user.profile.account_permission == 'Admin' %}
        <a href="{{ url_schedulet_page }}">Розклад</a>
        {% endif %}

        {% url 'core' as url_news_page %}
        <a href="{{ url_news_page }}">Новини</a>
    </div>
    <div class="header-right">
        {% url 'profile' as url_profile_page %}
        <a href="{{ url_profile_page }}" class="h rounded">{{request.user.profile.account_permission }}</a>
        {% url 'logout' as url_logout_page %}
        <a href="{{ url_logout_page }}" class="h logout">Logout</a>
    </div>
</div>
{% block content %}


{% endblock content %}
</body>
</html>
