<!doctype html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" type="text/css" href="{% static 'css/login.css' %}"/>
    <title>Document</title>
</head>
<body>
<div class="box">

    <div class="selected">
        <div class="logo-name"><span>OpenEdu</span></div>
        <form class="form-horizontal" name="LoginForm" action="/login/" method="post">
            {% csrf_token %}

            {% if next %}
            <input type="hidden" name="next" value="{{ next }}"/>
            {% endif %}
            <label for="user">User</label>
            <div class="user-container">
                <input type="text" id="username" name="username" placeholder="Username">
                <img src="../media/page/user.svg" alt="" class="user-png">
            </div>
            <label for="user">Password</label>
            <div class="user-container">
                <input type="password" name="password" id="password" placeholder="Password">
                <img src="../media/page/password.svg" alt="" class="user-png">
            </div>
            <div class="rememberme-checkbox">
                <input type="checkbox" id="savepassword" name="happy" value="yes">
                <label for="savepassword" class="not-remember">Remember me</label>
            </div>
            <button type="submit" name="button">Submit</button>
        </form>

    </div>
</div>
</body>
</html>
