{% extends 'core/header.html' %}
{% block content %}
{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'css/news.css' %}"/>
<body>
<div class="main_page">
    <div class="main_news">
        <div class="main_news_block">
            <div class="main_news_img"><img src="../media/news/bg4k.jpg" alt=""/></div>
            <div class="main_news_text_wrapper">
                <div class="main_news_wrapper">
                    <div class="main_news_date">01:12:2001</div>
                    <div class="main_news_title">Сьогодні посадили Деканата</div>
                </div>
                <div class="short_description_block">
                    <p class="short_description">
                        Lorem, ipsum dolor sit amet consectetur adipisicing elit. Earum
                        quae atque, dolore iure ullam, rem iste facilis maxime quod aut
                        nostrum autem, placeat id odio nemo maiores minima esse nihil.Î
                        Lorem, ipsum dolor sit amet consectetur adipisicing elit. Earum
                        quae atque, dolore iure ullam, rem iste facilis maxime quod aut
                        nostrum autem, placeat id odio nemo maiores minima esse nihil.Î
                    </p>
                </div>
            </div>
        </div>
    </div>

    <div class="subnews">
<!--        <div class="subnews_item">-->
<!--            <div class="subnews_img"><img src="../media/news/bg4k.jpg" alt=""/></div>-->
<!--            <div class="subnews_wrapper">-->
<!--                <div class="subnews_date">date</div>-->
<!--                <div class="subnews_title">title</div>-->
<!--            </div>-->
<!--            <div class="subnews_text">-->
<!--                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Alias aperiam commodi dolore earum eos illum-->
<!--                impedit, inventore laboriosam, laborum minus neque omnis unde. Accusamus aspernatur enim nesciunt quod-->
<!--                tempora voluptatum!-->
<!--            </div>-->
<!--        </div>-->
        {% for i in list_articles %}
        <div class="subnews_item">
            <div class="subnews_img"><img src="{{ i.img.url }}" alt=""/></div>
            <div class="subnews_wrapper">
                <div class="subnews_date">{{i.articles_data}}</div>
                <div class="subnews_title">{{i.name}}</div>
            </div>
            <div class="subnews_text">
                {{i.text}}
            </div>
        </div>
        {% endfor %}
    </div>
</div>
</div>
</div>
</body>
{% endblock content %}
