{% extends 'core/header.html' %}
{% block content %}
{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'css/news.css' %}"/>
<body>
<div class="main_page">
    <div class="main_news">
        <div class="main_news_block">
            <div class="main_news_img"><img src="{{ main_article.img.url }}" alt=""/></div>
            <div class="main_news_text_wrapper">
                <div class="main_news_wrapper">
                    <div class="main_news_date">{{ main_article.articles_data }}</div>
                    <div class="main_news_title">{{ main_article.name }}</div>
                </div>
                <div class="short_description_block">
                    <p class="short_description">
                        {{ main_article.text }}
                    </p>
                </div>
            </div>
        </div>
    </div>
    <div class="subnews">
        {% for i in list_articles %}
        <div class="subnews_item">
            <div class="subnews_img"><img src="{{ i.img.url }}" alt=""/></div>
            <div class="subnews_wrapper">
                <div class="subnews_date">{{i.articles_data}}</div>
                <div class="subnews_title">{{i.name}}</div>
            </div>
            <div class="subnews_text">
                {{i.text}}
            </div>
        </div>
        {% endfor %}
    </div>
</div>
</div>
</div>
<script>
    document.title = 'Новини'
</script>
</body>
{% endblock content %}
